.idea

__pycache__

Nitrogen.build

venv

texpack.png
Nitrogen.dist/texpack.png

log.txt
Nitrogen.dist/log.txt
.DS_Store

save/savedata.pickle
save/serverdata.pickle
Nitrogen.dist/save/savedata.pickle
Nitrogen.dist/save/serverdata.pickle
